.customScroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background: #1b1f29;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border: 1px solid #177ddc; */
  border: 1px solid red;
  border-radius: 20px;
  box-shadow: inset 0 0 0 3px rgb(23 125 220 / 20%);
}